.login-form {
    position: absolute;
    top: calc(70% - 396.5px);
    left: calc(50% - 201px);
    width: 388px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 48px;
}
.welcome-back {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 100%;
    white-space: pre-wrap;
    margin: 10px 0 0;
}
.today-is-a {
    margin: 0;
}
.today-is-a-container {
    position: relative;
    font-size: var(--font-size-xl);
    letter-spacing: 0.01em;
    line-height: 160%;
    font-family: var(--font-actor);
    color: var(--secondary-text);
    text-align: left;
}
.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 28px;
    font-size: 18px;
    color: var(--primary-text);
    font-family: var(--font-abel);
}
.form {
    width: 400px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--gap-5xl);
    cursor: pointer;
    text-align: left;
}
.form,
.input1,
.main-button {
    align-self: stretch;
    display: flex;
}
.label {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 100%;
    margin: 0;
}
.input2 {
    position: absolute;
    height: 104.17%;
    width: 100.52%;
    top: -2.08%;
    right: -0.26%;
    bottom: -2.08%;
    left: -0.26%;
    border-radius: var(--br-xs);
    background-color: var(--color-ghostwhite);
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
}
.input1 {
    align-self: stretch;
    position: relative;
    height: 48px;
    color: var(--color-lightslategray);
    padding: 0 15px;
}
.input1 {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
}
.input1:focus {
    outline: none;
    padding: 0 15px;
}
.input1::placeholder{
    position: absolute;
    top: 16px;
    left: 16.58px;
    letter-spacing: 0.01em;
    line-height: 100%;
}
.main-button {
    border-radius: var(--br-xs);
    background-color: var(--main-color);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-base) 41%;
    text-align: center;
    font-size: var(--font-size-xl);
    color: var(--color-white);
    border:none;
}
.sign-up {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1218px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-base);
    color: var(--main-color);
    font-family: var(--font-roboto);
}